language: ruby
#rvm:
#  - 2.3.1
#before_install: gem install bundler -v 1.10.6
#install:
  #- bundle install
  #- bundle exec rake install
#before_script: "rubocop"
#addons:
#  srcclr: true
script:
  #  - "rake spec"
  - git clone https://github.com/juancarlostong/ci.git
  - "SDK=ruby ci/trigger_build.sh optimizely%2Ffullstack-sdk-compatibility-suite"
#after_success: "coveralls"
