branch:
  only:
    - master
language: ruby
cache: bundler
rvm:
  - 2.3.7
  - 2.4.4
  - 2.5.1
  - 2.6.0
before_install:
  - gem update --system
  - gem install bundler
install:
  - bundle install
script: "bundle exec rake spec"
before_script: "rubocop"
addons:
  srcclr: true
after_success: "coveralls"

# Integration tests need to run first to reset the PR build status to pending
stages:
  - 'Integration tests'
  - 'Benchmarking tests'
  - 'Test'

jobs:
  include:
    - &integrationtest
      stage: 'Integration tests'
      merge_mode: replace
      env: SDK=ruby
      cache: false
      language: minimal
      before_install: skip
      install: skip
      before_script:
        - mkdir $HOME/travisci-tools && pushd $HOME/travisci-tools && git init && git pull https://$CI_USER_TOKEN@github.com/optimizely/travisci-tools.git && popd
      script:
        - "$HOME/travisci-tools/trigger-script-with-status-update.sh"
      after_success: travis_terminate 0
    - <<: *integrationtest
      stage: 'Benchmarking tests'
      env: SDK=ruby FULLSTACK_TEST_REPO=Benchmarking
      script:
        - "$HOME/travisci-tools/trigger-script-with-status-update.sh yasir/bench-exp-support"
