language: ruby
rvm:
  - 2.3.1
before_install: gem install bundler -v 1.10.6
install:
  - bundle install
  - bundle exec rake install
before-script: "rubocop"
script: "rake spec"
after_success: "coveralls"
