branch:
  only:
    - master
language: ruby
cache: bundler
rvm:
  - 2.3.7
  - 2.4.4
  - 2.5.1
  - 2.6.0
before_install:
#  - gem update --system
  - gem install bundler
install:
  - bundle install
script: "bundle exec rake spec"
before_script: "rubocop"
after_success: "coveralls"

# Integration tests need to run first to reset the PR build status to pending
stages:
  - 'Lint markdown files'
  - 'Integration tests'
  - 'Benchmarking tests'
  - 'Test'

jobs:
  include:
    - stage: 'Lint markdown files'
      language: ruby
      rvm: 2.4.1
      os: linux
      before_install: skip
      install: gem install awesome_bot
      before_script: skip
      after_success: skip
      script:
        - find . -type f -name '*.md' -exec awesome_bot {} \;
      notifications:
        email: false
    - stage: 'Lint markdown files'
      language: node_js
      node_js: 12
      os: linux
      before_install: skip
      install:
        - npm i -g markdown-spellcheck
      before_script:
        - wget https://gist.githubusercontent.com/juancarlostong/dad02feeebc8763af35b4fdc717cf7a2/raw/29e085302a9418edbefba15d8f790fa76e0a89d5/.spelling
      script:
        - mdspell -a -n -r --en-us '**/*.md'
      after_success: skip
 
    - &integrationtest
      stage: 'Integration tests'
      merge_mode: replace
      env: SDK=ruby SDK_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH
      cache: false
      language: minimal
      before_install: skip
      install: skip
      before_script:
        - mkdir $HOME/travisci-tools && pushd $HOME/travisci-tools && git init && git pull https://$CI_USER_TOKEN@github.com/optimizely/travisci-tools.git && popd
      script:
        - $HOME/travisci-tools/trigger-script-with-status-update.sh
      after_success: travis_terminate 0
    - <<: *integrationtest
      stage: 'Benchmarking tests'
      addons:
        srcclr: true
      env: SDK=ruby FULLSTACK_TEST_REPO=Benchmarking SDK_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH
