name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint_markdown_files:
    uses: optimizely/ruby-sdk/.github/workflows/lint_markdown.yml@uzair/git-actions

  integration_tests:
    uses: optimizely/ruby-sdk/.github/workflows/integration_test.yml@uzair/git-actions
    secrets:
      CI_USER_TOKEN: ${{ secrets.CI_USER_TOKEN }}
      TRAVIS_COM_TOKEN: ${{ secrets.TRAVIS_COM_TOKEN }}

  fullstack_production_suite:
    uses: optimizely/ruby-sdk/.github/workflows/integration_test.yml@uzair/git-actions
    with:
      FULLSTACK_TEST_REPO: ProdTesting
    secrets:
      CI_USER_TOKEN: ${{ secrets.CI_USER_TOKEN }}
      TRAVIS_COM_TOKEN: ${{ secrets.TRAVIS_COM_TOKEN }}

  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.3.7', '2.4.4', '2.5.1', '2.6.0' ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run linting
      run: |
        bundle exec rubocop
    - name: Run unit tests
      run: |
        bundle exec rake spec
    - name: Run coveralls
      run: |
        bundle exec coveralls
