name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint_markdown_files:
    uses: optimizely/ruby-sdk/.github/workflows/lint_markdown.yml@aleap/update_ruby_version

  integration_tests:
    uses: optimizely/ruby-sdk/.github/workflows/integration_test.yml@aleap/update_ruby_version
    secrets:
      CI_USER_TOKEN: ${{ secrets.CI_USER_TOKEN }}
      TRAVIS_COM_TOKEN: ${{ secrets.TRAVIS_COM_TOKEN }}

  fullstack_production_suite:
    uses: optimizely/ruby-sdk/.github/workflows/integration_test.yml@aleap/update_ruby_version
    with:
      FULLSTACK_TEST_REPO: ProdTesting
    secrets:
      CI_USER_TOKEN: ${{ secrets.CI_USER_TOKEN }}
      TRAVIS_COM_TOKEN: ${{ secrets.TRAVIS_COM_TOKEN }}

  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.7.0', '3.0.0', '3.1.0' ]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run linting
      run: |
        bundle exec rubocop
    - name: Run unit tests
      run: |
        bundle exec rake spec
    - name: Run coveralls
      run: |
        bundle exec coveralls
