name: Unit Tests

on: [workflow_call]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.3.7', '2.4.4', '2.5.1', '2.6.0' ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run linting
      run: |
        bundle exec rubocop
    - name: Run unit tests
      run: |
        bundle exec rake spec
    - name: Run coveralls
      run: |
        coveralls_reborn
